 nav {
      background-color: #333;

      padding: 10px 0;

      text-align: center;

 }


 nav a {
      color: #fff;

      text-decoration: none;

      margin: 0 15px;

      font-size: 18px;

 }


 nav a:hover {
      text-decoration: underline;

 }