
<!-- // Assignment 1 is print hello world! -->
<!-- <app-assignment1></app-assignment1> -->

<!-- Assignment2 is write functionality for counter app -->

<!-- <app-counter></app-counter> -->
<!-- ````````````````--------------------------------____________________ -->
<!-- Day-3 Assignment -->
<!-- Assignment_1 -->
<!-- <app-item-list></app-item-list> -->

<!-- ------------------ day_4 task here ```````````````````````` -->
<!-- <app-tast></app-tast> -->

<!-- day-6 task here -->
<!-- <app-task1></app-task1> -->
<app-day6navbar></app-day6navbar>
<router-outlet></router-outlet>